/*
Usually I use imports in fonts, 
but I would love to use the 'Youse Font' and I had to create a .css file.
On day-to-day, I prefer CSS-in-JS
*/

@font-face {
  font-family: 'Felbridge Pro';
  src: local('FelbridgePro-ExtraBold'),
    url('subset-FelbridgePro-ExtraBold.woff2') format('woff2'),
    url('subset-FelbridgePro-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Felbridge Pro';
  src: local('FelbridgePro-Light'),
    url('subset-FelbridgePro-Light.woff2') format('woff2'),
    url('subset-FelbridgePro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
